* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$main-color: #b88862;

@mixin font-small {
  font-size: 1rem;
}
@mixin font-medium {
  font-size: 1.5rem;
}
@mixin font-big {
  font-size: 2rem;
}
@mixin button-template {
  display: block;
  padding: 1em 1.7em;
  border-radius: 7px;
  text-decoration: none;
  font-weight: bold;
}
